/.config
/*.sln 
/obj
/*/Assemblies
.idea
.vscode
.DS_Store
bin
PublishedFileId.txt
Folder.DotSettings.user
Directory.Build.props
*.sh
/ChromaManager/.venv
/ChromaManager/__pycache__

## Interaction bubble library
Libs/Bubbles.dll
!Libs/Bubbles.sh